<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="testpugin.views.SampleView"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.TaskList">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="TestPugin"
            name="Sample Category">
      </category>
      <view
            category="TestPugin"
            class="testpugin.views.SampleView"
            icon="icons/sample.gif"
            id="testpugin.views.SampleView"
            name="VueTestPlugin">
      </view>
   </extension>

</plugin>
